{% for ideas as idea %}

	<div class='idea' id='i{{ idea.id }}'>

		<div class='picture_box'>
			{% set avatar = defalut_avatart %}
			<div id="idea_picture__{{ idea.id }}"
			     style="background-image:url('../app/assets/pics/ideas/{{ idea.avatar | default(avatar) }}')"></div>
		</div>

		<div class="info_box">

			<p class='idea_title' id='idea_title__{{ idea.id }}'>{{ $idea.title }}</p>
			<p class='idea_description' id='idea_description__{{ idea.id }}'>{{ idea.description }}</p>
		
		</div>

	</div>

{% endfor %}