{% import "components/input__settings.twig" as settings %}

{% if is_my_team %}

<script type="text/javascript">
var PROJECT_ID = {{ project.id }};
</script>

<p>
	<a class="st_button" href="./?project_id={{ project.id }}">PUBLIC VIEW</a>
</p>

<div class="p_wrapper">

	<section class="p_title">
		{{ settings.input('title', 'project_input__title', project.title|trim ) }}
	</section>

	{#
	<!--
	<section class="p_vision">
		{{ settings.input('vision', 'project_input__vision', project.vision|trim) }}
	</section>
	--> #}

	<section class="p_description">
		{{ settings.textarea('description', 'project_input__description', project.description|trim) }}
	</section>

	<section class="p_milestone_2">
		{{ settings.textarea('milestone_2', 'project_input__milestone_2', project.milestone_2|trim) }}
	</section>

</div>

{% else %}
	
<p>
	<span>It seems that is not your team...</span>
</p>

{% endif %}
