<div style="max-width:620px;margin: 20px 0px;" class="card card--{% if project.is_approved=='1' %}PROJECT{% else %}IDEA card--hidden{% endif %}">

    {% if project.is_approved == '1' %}
        {% set link = "./?project_id=" ~ project.id %}
    {% else %}
        {% set link = "#" %}
    {% endif %}

	<a href="{{ link }}">
    	{% if project.avatar|trim == "" %}
            {% set avatar = "people/avatar.svg" %}            
        {% else %}
            {% set avatar = "ideas/" ~ project.avatar %}
        {% endif %}
    	<div class="card__pic" 
    	     style="background-image:url('../app/assets/pics/{{ avatar }}')"></div>
    	<div class="card__details">
			<span class="card__details_name">{{ project.title }}</span>
    	</div>

    </a>

    <div style="text-align:right;padding: 5px 0px">
        {% if project.is_approved=='1' and sess.role == "mentor" and sess.id in residence_mentors %}
            <input type="button"
                   class="st_button {% if project.vote_label == 'like' %} c_green {% else %} c_red {% endif %}"
                   {% if project.vote_label == "unlike" %}style="background-color: #f00"{% endif %}
                   value="{% if project.vote_label == "like" %}Choose{% else %}Un-choose{% endif %}" {# vote_label can be "like" or "unlike" #}
                   onclick="SpProjectChooser.ideaHelper('{{ project.vote_label }}', '{{ project.id }}', this)" />
        {% endif %}
        <span class='comment_idea_button' idea-id='{{ project.id }}'>Comments ({{ project.num_of_comments }})</span>
    </div>

    <div class="members" style="margin-left:0px;overflow: visible" id="members__{{ project.id }}">
        {% if project.members %}
            <span>Team Members ({{ project.members|length }}): </span>
            {% for member in project.members %}
                <div class="member" member-id="{{ member.id }}">
                    <a href="../people/?user_id={{ member.id }}">
                        <div style="background-image:url('../app/assets/pics/people/{{ member.avatar | default("avatar.svg") }}')"></div>
                    </a>
                    <div class="member__label">
                        <span>{{ member.firstName }} {{ member.lastName }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>